h1 {
    color: black;
    font-family: 'Caveat Brush', cursive;
}

.style-link:link {
    color: darkblue;
}

.style-link:visited {
    color: cornflowerblue;
}

.style-link:hover {
    color: orangered;
    text-decoration: none;
}

.style-link:active {
    color: goldenrod;
    font-weight: bold;
    text-decoration: none;
}

#bg {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}

#nav-text {
    color: black;
    font-family: 'Magra', sans-serif;
    font-size: 17pt;
}

#bp {
    color: black;
    font-family: 'Rock Salt', cursive;
    font-size: 26pt;
}

#mailto {
    text-align: center;
}

#big-text {
    font-size: 18pt;
}

#text-size {
    font-size: 24pt;
}

#friends {
    height: 200px;
    width: 200px;
}

#port-title {
    margin: auto;
    padding: 30px;
}

#blank {
    margin: auto;
    padding: 20px;
}

