.style-link:link {
    color: darkblue;
}

.style-link:visited {
    color: cornflowerblue;
}

.style-link:hover {
    color: orangered;
    text-decoration: none;
}

.style-link:active {
    color: goldenrod;
    font-weight: bold;
    text-decoration: none;
}

#mailto {
    text-align: center;
}

#big-text {
    font-size: 18pt;
}

#text-size {
    font-size: 24pt;
}

#friends {
    height: 200px;
    width: 200px;
}